/*----------------------------------------------
  Google font link
-----------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");


/*----------------------------------------------
  Css variable
-----------------------------------------------*/
:root{
    --black: #131313;
    --white: #FFFFFF;
    --btn-bg: #ff900e;
    --link-color: #424242;
    --span_color: #727272;
    --section-bg: rgba(255, 144, 14, 0.1);
}

/*----------------------------------------------
  Common css
-----------------------------------------------*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

.container {
  max-width: 1440px;
  width: 96%;
  margin: 0 auto;
}
h3 {
  color: #131313;
  font-size: 45px;
  font-weight: 700;
}
.btn_primary {
  width: 180px;
  height: 64px;
  background: var(--btn-bg);
  border-radius: 8px;
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
  border: none;
  transition: all 0.2s ease-in-out;
}
.btn_primary:hover {
    cursor: pointer;
    border-radius: 40px 0 40px 0;
}
p{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}
a{
    text-decoration: none;
    display: inline-block;
}
li{
    list-style-type: none;
}

/*----------------------------------------------
  Header css
-----------------------------------------------*/
header{
    background: var(--section-bg);
    padding: 45px 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .menu ul{
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.menu ul li a {
    font-weight: 500;
    position: relative;
    font-size: 18px;
    color: var(--link-color);
}
.menu ul li a::before{
    content: '';
    display: block;
    position: absolute;
    bottom: -4px;
    width: 0%;
    left: 50%;
    height: 3px;
    background: var(--link-color);
    transition: 0.3s;
}
.menu ul li a::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -4px;
    width: 0%;
    right: 50%;
    height: 3px;
    background: var(--link-color);
    transition: 0.3s;
}
.menu ul li:hover a::after,.menu ul li:hover a::before{
    width: 50%;
}

/*------------------------Banner content--------------------------*/
.banner_content{
    padding-top: 116px;
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.banner_content h2{
    color: var(--black);
    font-size: 60px;
    font-weight: 700;
}
.banner_content  p{
    margin: 30px 0 32px;
}

/*------------------------Banner image--------------------------*/
.banner_img{
    height: 700px;
    margin-top: 50px;
}
.banner_img img {
    width: 100%;
    height: 100%;
}



/*----------------------------------------------
  Our Feature css
-----------------------------------------------*/
.our_feature{
    padding: 80px 0;
}
.our_feature_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}
.our_feature_content .image_content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}

.text_content .title_quick{
    color: var(--span_color);
}
.text_content .title_feature{
    color: var(--btn-bg);
}
.text_content p{
    margin: 24px 0px 32px;
}
/*----------------------------------------------
  Love & Enjoy section css
-----------------------------------------------*/
.love_enjoy {
    padding: 50px 0;
}
.love_enjoy_content{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.love_enjoy_content .content_text{
    width: 40%;
}
/* .love_enjoy_content .content_img {
    width: 60%;
} */
.content_text .enjoy_title{
    border-left: 3px solid var(--btn-bg);
    padding-left: 20px;
}
.content_text .enjoy_desc {
    margin: 24px 0 30px;
}
.text_items .item {
    background: var(--white);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 30px;
}
.text_items .item h4 {
    color: var(--black);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}


.love_enjoy_content .content_img {
    width: 600px;
    height: 950px;
}
.enjoy_btn_bottom {
    text-align: center;
    margin-top: -80px;
}
.enjoy_btn_bottom .experience_btn {
    background: var(--btn-bg);
    padding: 20px 30px;
    border: none;
    border-radius: 8px;
}
.enjoy_btn_bottom .experience_btn h3{
    color: var(--white);
    font-size: 30px;
    font-weight: 700;
}
.enjoy_btn_bottom .experience_btn h4{
    margin-top: 10px;
    color: var(--white);
    font-size: 25px;
    font-weight: 600;
}
/*----------------------------------------------
  Some Facts section css
-----------------------------------------------*/
.some_facts{
    padding: 50px 0;
}
.facts_header p{
    margin: 24px 0 60px;
}
.facts_items{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 30px;
}
.facts_items .item{
    text-align: center;
    border: 1px solid var(--btn-bg);
    padding: 45px;
    border-radius: 8px;
    transition: all 0.1s ease-in-out;
}
.facts_items .item:hover {
    background: var(--section-bg);
}
.facts_items .item h4{
    font-size: 30px;
    font-weight: 600;
    margin: 10px 0 5px;
    color: var(--link-color);
    transition: all 0.1s ease-in-out;
}
.facts_items .item:hover h4{
    color: var(--btn-bg);
}
.facts_items .item h5{
    color: var(--span_color);
    font-size: 20px;
    font-weight: 600;
}

/*----------------------------------------------
  services section css
-----------------------------------------------*/
.services{
    padding: 50px 0;
}
.services_header {
    text-align: center;
}
.services_header p {
    margin: 24px 0 50px;
}

.services_items_contain{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 30px;
}

.service_item{
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    position: relative;

}

.service_item .design_img{ 
    overflow: hidden;
    margin-bottom: 0;
    padding: 0;
    border-radius: 8px 8px 0 0;
    width: 100%;
    position: relative;
}

.design_img img {
    width: 100%;
    border-radius: 8px 8px 0 0;
    transition: all 0.5s ease-in-out;
}
.service_item:hover .design_img img{ 
    transform: scale(1.2);
}

.service_item .design_text {
    position: relative;
    padding: 40px 20px;
    margin-top: -4px;
    overflow: hidden;
}
.service_item .design_text::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    top: 0;
    background: var(--black);
    z-index: -1;
    transition: all 0.5s ease-in-out;
    border-radius: 0 0 8px 8px;
}
.service_item:hover .design_text::before{
    height: 100%;
}
.service_item .design_text h3{
    position: relative;
    top: 0px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
    color: var(--black);
    transition: all 0.5s ease-in-out;
}
.service_item:hover .design_text h3 {
    top: -20px;
    color: var(--white);
}
.service_item .design_text .hr_line {
    position: relative;
    top: 0px;
    width: 100px;
    height: 3px;
    background: var(--btn-bg);
    transition: all 0.5s ease-in-out;
}
.service_item:hover .design_text .hr_line {
    top: -20px;
}
.service_item .design_text a{
    position: relative;
    top: -20px;
    font-size: 25px;
    font-weight: 600;
    color: var(--link-color);
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.service_item:hover .design_text a {
    top: 0;
    visibility: visible;
    opacity: 1;
    color: var(--btn-bg);
}
/*----------------------------------------------
  Sponsor section css
-----------------------------------------------*/
.sponsor{
    padding: 50px 0;
}
.sponsor_header{
    text-align: center;
}
.sponsor_header p{
    margin: 24px 0 50px;
}
.sponsor .sponsor_items {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}
.sponsor_items img{
    height: 50px;
    filter: grayscale(1);
    transition: all 0.2s;
}
.sponsor_items img:hover {
    cursor: pointer;
    filter: grayscale(0);
}
/*----------------------------------------------
  Footer section css
-----------------------------------------------*/
.footer .container{
    padding: 40px;
    background: var(--section-bg);
    border-radius: 8px;
}
.footer p {
    text-align: center;
    color: var(--link-color);
}

.br {
    display: none;
}

/*----------------------------------------------
  Responsive css
-----------------------------------------------*/

@media only screen and (max-width: 1024px) {
    .our_feature_content {
        gap: 30px;
    }
    .our_feature_content .image_content {
        width: 60%;
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    }
    .our_feature_content .image_content img{
        width: 100%;
    }
    .our_feature_content .text_content {
        width: 40%;
    }
}
@media only screen and (max-width:991px) {
    .br {
        display: block;
    }
    .our_feature_content {
        display: block;
    }
    .image_content {
        margin-bottom: 20px;
    }
    .our_feature_content .image_content {
        width: 100%;
        grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
        grid-gap: 15px;

    }
    .our_feature_content .image_content img{
        width: 100%;
    }
    .our_feature_content .text_content {
        width: 100%;
    }
    .love_enjoy_content {
        display: block;
    }
    .love_enjoy_content .content_text {
        width: 100%;
    }
    .love_enjoy_content .love_enjoy_img {
        text-align: center;
        margin: 15px auto;
    }
    .love_enjoy_content .love_enjoy_img img {
        max-width: 500px;
        width: 100%;
        height: 600px;
    }
    .services .services_header {
        text-align: left;
    }
    .sponsor .sponsor_items {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(3,1fr);
    }
}











@media only screen and (max-width: 576px) {
    h2{
        font-size: 35px;
    }
    h3 {
        font-size: 30px;
    }
    /*----------------------nav responsive---------------*/
    nav{
        display: block;
    }
    nav .menu ul{
        display: block;
    }
    .menu ul li{
        margin-top: 15px;
    }
    /*----------------------Banner content responsive---------------*/
    .banner_content{
        width: 100%;
    }
    /*-------------------------Banner Image-------------------------- */
    .banner_img {
        height: 300px;
    }
    /* our .our_feature section responsive  */
    .our_feature_content{
        display: block;
    }
    .our_feature_content .image_content {
        grid-template-columns: repeat(1,1fr);
    }
    .our_feature_content .image_content img{
        width: 100%;
    }
    .text_content {
        margin-top: 30px;
    }
    /* Love & Enjoy section responsive  */
    .love_enjoy_content{
        flex-direction: column-reverse;
    }
    .love_enjoy_content .content_img {
        width: 100%;
        height: 500px;
    }
    .love_enjoy_content .content_text {
        width: 100%;
    }
    .enjoy_btn_bottom {
        margin-top: 15px;
    }
    /* Some Facts section responsive  */
    .facts_items {
        grid-template-columns: repeat(2,1fr);
        gap: 15px;
    }
    .facts_items .item {
        padding: 35px;
    }
    /* services section responsive  */
    .services_header {
        text-align: left;
    }
    .enjoy_btn_bottom .experience_btn {
        margin-top: -30px;
    }
    /* Sponsor section responsive  */
    .sponsor .sponsor_items {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 35px 15px;
    }
    .sponsor_items img{
        height: 50px;
        width: 150px;
    }
}

